############################
##
## Dependencies
##
############################

questdb:
  image:
    repository: questdb/questdb
    tag: 9.3.2

  extraVolumes: [ ]
  extraVolumeMounts: [ ]

  questdb:
    dataDir: /var/lib/questdb
    configStorageType: ConfigMap
    serverConfig:
      enabled: false
      options: { }
    loggingConfig:
      enabled: false
      options: { }
    mimeConfig:
      enabled: false
      options: { }

    # env supports key/value pairs that are added directly to the questdb statefulset's env
    env:
#      QDB_<KEY_OF_THE_PROPERTY>
      QDB_HTTP_USER: admin
      QDB_HTTP_PASSWORD: password
      # Postgres wire protocol
      # https://questdb.com/docs/configuration/overview/#postgres-wire-protocol
      QDB_PG_PASSWORD: password
      QDB_PG_USER: admin
      QDB_PG_READONLY_USER_ENABLED: true
      QDB_PG_READONLY_PASSWORD: password
      QDB_PG_READONLY_USER: user
      # https://questdb.com/docs/configuration/overview/#influxdb-line-protocol-ilp
      QDB_LINE_DEFAULT_PARTITION_BY: DAY
      # https://questdb.com/docs/getting-started/capacity-planning
      VM_MAX_MAP_COUNT: 1048576

    # envFrom supports a list of sources that will be injected into the questdb statefulset's env
#    envFrom: [ ]

  service:
    annotations: { }
    type: ClusterIP
    port: 9000
    expose:
      postgresql:
        enabled: false
        port: 8812
      influxdb:
        enabled: false
        port: 9009

  persistence:
    enabled: true
    accessMode: ReadWriteOnce
    size: 50Gi
    storageClass: longhorn

  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - host: questdb.172.17.90.93.nip.io
        paths:
         - path: /
           pathType: Prefix

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node-role.kubernetes.io/worker
                operator: Exists

  automountServiceAccountToken: false

  metrics:
    enabled: true
    port: 9003

  initContainers: [ ]
  sidecars: [ ]

  serviceAccount:
    create: false
    labels: { }
    annotations: { }
    automountServiceAccountToken: false

    # if create is set to "true", you can specify the name of that service account below
    # if create is set to "false", you can use this to reference an existing service account for the StatefulSet pod
    # name: custom-service-account-name

  # openshift
  openshift:
    enabled: detect
